h1 {color: #000000;}
body {color: #000000;
background-color: #f8f2dc;}

a:visited {color: #3c3570;}

nav {background-color: #e1c3ff;
    padding: 10px;
    margin-bottom: 30px;}
nav a {color: #08605f;}
nav a:hover {background-color: #b4ccb9;}
span {float:right;}

